In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.image as mpimg
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
import tensorflow as tf

In [6]:
cd Interpretability_CV/

C:\Users\nick\Desktop\DataNoob\model_interpretability\Interpretability_CV

In [29]:
df_meta = pd.read_csv('data/pokemon_meta.csv')
print(df_meta.shape)
df_meta.head()

(808, 38)

,name,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,Bulbasaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,Ivysaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,Venusaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,Charmander,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,Charmeleon,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [30]:
pokemon_imgs = [file.replace('.jpg','') for file in os.listdir('data/imgs')]

In [33]:
missing_imgs = [pk for pk in df_meta['name'] if pk not in pokemon_imgs]
print('Missing images:', missing_imgs)
missing_meta = [file for file in pokemon_imgs if file.replace('.jpg','') not in list(df_meta['name'])]
print('Missing metadata:', missing_meta)

Missing images: []
Missing metadata: []